.nav-item{
  color: white;
  margin-right: 20px;
  text-align: none;
}

.banner{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-size: cover;
  background-position: center;
  color: white;
}

.banner::before{
  position:absolute;
  left:0;
  width:100%;
  height: 400px;
  content:'';
  background: linear-gradient(to right, black, transparent);
}
.banner-info{
  width:40%;
  margin-left: 30px;
  z-index: 1;
}

.card{
  width: 260px;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.overlay{
  opacity: 0; 
  background: rgba(43,41,41,0.9);
  width: 100%;
  height: 100%;
  color: azure;
  overflow: hidden; /* 이 부분 추가 */
  padding: 10px;
}

.card:hover .overlay{
  opacity: 1;
}

.card2 {
  width: 250px;
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
  color:white;
}
.card2::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, black, transparent);
  

}

.card2-info{
  position: relative;
  color:white;
  width: 75%;
  margin:10px;
  z-index: 5;
}